img {
  width:980px;
}
main {
  position:absolute;
  top:190px;
  width:400px;
  margin-left:220px;
  margin-right:220px;
}
h1 {
  margin-top:0;
  margin-bottom:50px;
  color:#222222;
  font-size:45px
}
h2 {
  margin-bottom:0;
  color:#222222;
}
h2,h1, blockquote {
  font-family: Abril Fatface
}
.quote {
  position:relative
}
blockquote {
  font-size:27px;
  background:#222222;
  color:white;
  padding:20px;
  margin-bottom:0;
  margin-left:-20px;
  margin-right:-20px;
}
.quote::before {
  content: '“';
  position:absolute;
  top:-15px;;
  left:-20px;
  color:white;
  font-family:Abril Fatface;
  font-size:60px
}
h3 {
  text-transform:uppercase;
  margin-bottom:40px;
  margin-top:40px
}
h4, ul{
  font-family:Merriweather;
}
h5 {
  font-style:italic;
  font-size:11px;
  margin-left:-40px;
  margin-top:-13px
}
h4{
  margin-bottom:15px;
  margin-top:40px;
  line-height:27px;
}
#blank {
  padding:2px;
  margin-left:0;
  margin-right:0
}
p, li{
  font-family:Josefin Sans;
  font-size:11px;
  line-height:16px
}